<style>
    @import url('https://fonts.googleapis.com/css2?family=PoppinsRegular:wght@400&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=PoppinsSemiBold:wght@600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

    .message-outer {
        background-color: rgba(201, 0, 0, 0.85);
        padding: 30px 50px;
    }

    .message-body {
        border: 3px solid #FFFFFF;
        padding: 10px;
    }

    .message-body p, .message-body a {
        font-size: 18px;
        font-family: 'PoppinsRegular', sans-serif;
        color: #FFFFFF;
    }

    .message-body h1 {
        font-size: 40px;
        font-family: 'PoppinsSemiBold', sans-serif;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 1px 1px 3px #000000;
    }

    .message-body p, .message-body strong {
        line-height: 25px;
        margin: 0;
    }

    .message-body strong {
        color: #FF5C00;
    }

    .message-body .message-link {
        color: #FF5C00;
        font-weight: bold;
    }

    .message-body .message-button {
        background-color: #770000;
        box-shadow: 1px 1px 3px #000000;
        color: #FFFFFF;
        font-family: 'PoppinsSemiBold', sans-serif;
        font-size: 30px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 25px;
        margin: 0px auto;
        border-radius: 20px;
        line-height: 75px;
    }
</style>

<div class="message-outer">
    <div class="message-body">
        <h1>Menue - Recuperação de senha.</h1>

        <p>Olá, <strong>{{name}}</strong>!</p>

        <p>
            Uma soliciatção para atualizar sua senha foi efetuada. Se não foi você quem solicitou, por favor desconsidere esta mensagem. Caso o contrário, clique <a class="message-link" href="{{link}}" target="_blank">AQUI</a> ou no botão logo abaixo para atualizar sua senha:
        </p>

        <a class="message-button" href="{{link}}" target="_blank">Trocar a senha</a>

        <p>
            Atenciosamente, <br />
            <strong>Equipe Menue</strong>.
        </p>
    </div>
</div>
